<% include head %>

<h1>What if game</h1>
<p>The what if game can be played by multiple people. By writing /whatif you will get a question in which you can discuss.</p>
<div id="desley-chat">
  <div id="chat-window">
    <div id="output"></div>
    <div id="feedback"></div>
  </div>
  <input id="handle" type="text" placeholder="Username" />
  <input id="message" type="text" placeholder="Message" />
  <button id="send">Send</button>
</div>

<% include footer %>
